*{
    text-align: center;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;

}

html{
    background-color: rgb(255, 66, 82);
    font-size: 16px;
    color: rgb(247, 197, 197);
}

body{
    width: 720px;
    margin: auto; /* 너비에서 남는 여백을 동일하게 분배 */    
}

h1{
    font-size: 50px;
    margin-bottom: 1rem;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px 0;
}

p{
    font-size: 1.3rem;
    line-height: 1.6;
}